.next
/dist
/.vscode
/node_modules
package-lock.json
/.next.tf
/.terraform

aws ecr get-login-password --region eu-central-1 | docker login --username AWS --password-stdin 234278484776.dkr.ecr.eu-central-1.amazonaws.com